@import "../../styles/variables";
@import "../../styles/mixins";

.CalendarEntry {
    padding: 1em;
    width: 90%;
    border-radius: $border-radius;
    list-style: none;
    background-color: lighten($tertiary-color, 5%);
    color: $secondary-color;
    height: 100%;
    margin:1em auto;

    .entryName {
        cursor: pointer;
        font-weight: bold;
    }

    .entryDetails {
        overflow: hidden;
        transition: height 0.3s ease-out;
        height: 0;
        @include flex-right;
        height: fit-content;
    }

    .expanded {
        display: flex;
        height: fit-content;
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: $border-radius;
    }
}



.lineContainer {
    padding: 1em 0.5em 1em 0.5em;
}

.EntryFormContainer {
    font-size: $font-size-base;
    @include flex-right;
    gap:1em;


    span {
        background-color: white;
        width: 100%;
        padding: 0.2em;
        height: 40px;
        margin-top: 0.3em;
        border: 1px solid $background-color;
        display: flex;
        align-items: center;
        border-radius: $border-radius;

    }

    input {
        background-color: white;
        width: 100%;
        padding: 0.2em;
        height: 40px;
        margin-top: 0.3em;
        border: 2px solid $secondary-color;
        font-size: $font-size-base;
        border-radius: $border-radius;


    }
    textarea {
            border: 2px solid $secondary-color;
            border-radius: $border-radius;

            font-size: $font-size-base;

} 

    input {
        height: 40px;
    }

    div {
        @include flex-column-space-evenly;
    }

    label {
        font-weight: 600;
    }
}