@import "../../styles/variables";
@import "../../styles/mixins";

.CalendarEntry {
    padding: 1em;
    margin-bottom: 10px;
    width: 80vw;
    border-radius: $border-radius;
    list-style: none;
    background-color: lighten($tertiary-color, 4%);
    color: $secondary-color;
    height: 100%;

    .entryName {
        cursor: pointer;
        font-weight: bold;
    }

    .entryDetails {
        overflow: hidden;
        transition: height 0.3s ease-out;
        height: 0;
        @include flex-right;
        height: fit-content;
    }

    .expanded {
        display: flex;
        height: fit-content;
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: $border-radius;
    }
}

.deleteButton {
    @include flex-center;
    background: none;
    border: none;
    color: $background-color; // Change the color as needed
    cursor: pointer;
    padding: 8px; // Adjust padding as needed
    transition: color 0.3s ease;
    font-size: $font-size-base;
    text-decoration: underline;

    &:hover {
        color: darken(#ff6347, 10%);
    }

    .fa-trash {
        font-size: 1.5rem; // Adjust the icon size as needed
    }
}

.lineContainer {
    padding: 1em 0.5em 1em 0.5em;
}

.EntryFormContainer {
    span {
        background-color: white;
        width: 100%;
        padding: 0.2em;
        height: 40px;
        margin-top: 0.3em;
    }

    input {
        background-color: white;
        width: 100%;
        padding: 0.2em;
        height: 40px;
        margin-top: 0.3em;
        border: 1px solid;
    }
    textarea {
            border: 1px solid;
}

    input {
        height: 40px;
    }

    div {
        @include flex-column-space-evenly;
    }

    label {
        font-weight: 600;
    }
}