@import "../../styles/variables";
@import "../../styles/mixins";

.CalendarEntry {
  @include entry-item;
}

.EntryList {
  @include entrylist-container;
}
.followUpContainer {
  margin-top: 2em;
  background-color: $text-color;
  padding:1em;

  .CalendarEntry {
    padding: 0;
  }
  h4 {
    padding: 1em;
  }
}

.addEntryLink {
  @include flex-row-right;
  padding: 1em;
}
.FollowUpListContainer h4 {
  display: none;
}
.lineContainer {
  padding: 1em 0.5em 1em 0.5em;
}

.editFormContainer {
  @include form-container;
}

.EntryFormContainer {
  @include entry-form;
}
