@import "../../styles/variables";
@import "../../styles/mixins";

.CalendarEntry {
    @include entry-item;
}
.viewEntryLink {
    color: $secondary-color;
    padding-left: 0.5em;
    text-decoration: underline;
    cursor: pointer;
}


.textButton {
@include text-button
  }


.iconLink {
    cursor: pointer;
    padding-left:0.7em;
    color:$secondary-color;
    justify-self: flex-end;
    margin-left: auto;
    padding-right: 1em;
}
.expanded { @include expanded
 
}
.lineContainer {
    padding: 1em 0.5em 1em 0.5em;
}
.FollowUpHeader {
    @include flex-row;
}
.editFormContainer {
    @include form-container;
}

.EntryFormContainer {
    @include entry-form;
}
