@import "../../styles/variables";
@import "../../styles/mixins";

.CalendarEntry {
    @include entry-item;
}
.viewEntryLink {
    color: $secondary-color;
    padding-left: 0.5em;
    text-decoration: underline;
    cursor: pointer;
}


.nameLink {
    cursor: pointer;
}
.expanded {
    background-color: white;
    padding: 1em;
    height: auto;
    overflow: scroll;
}
.lineContainer {
    padding: 1em 0.5em 1em 0.5em;
}
.FollowUpHeader {
    @include flex-row;
}
.editFormContainer {
    @include form-container;
}

.EntryFormContainer {
    @include entry-form;
}
