@import "../../styles/variables";
@import "../../styles/mixins";

.CalendarEntry {
    @include entry-item;
}

.EntryList {
    @include entrylist-container;
}
.expanded {
    background-color: white;
    padding: 1em;
}
.lineContainer {
    padding: 1em 0.5em 1em 0.5em;
}
.FollowUpHeader {
    @include flex-row;
    width: 100%;
}
.editFormContainer {
    @include form-container;
}

.EntryFormContainer {
    @include entry-form;
}
