@import "../../styles/variables";
@import "../../styles/mixins";

.CalendarEntry {
    @include entry-item;
}
.viewEntryLink {
    color: $secondary-color;
    padding-left: 0.5em;
    text-decoration: underline;
    cursor: pointer;
}


.iconLink {
    cursor: pointer;
    padding-left:0.7em;
    color:$secondary-color;
}
.expanded { @include expanded
 
}
.lineContainer {
    padding: 1em 0.5em 1em 0.5em;
}
.FollowUpHeader {
    @include flex-row;
}
.editFormContainer {
    @include form-container;
}

.EntryFormContainer {
    @include entry-form;
}
