@import "../../styles/variables";
@import "../../styles/mixins";

.searchModal {
  @include flex-center;
  gap: 1em;
  margin-top: 0.5em;
  input {
    height: 30px;
    background-color: white;
  }
}
.searchResults {
  position: relative;
  z-index: 9999;
}
.selectButton {
  @include secondary-button;
  margin-left: auto;
}

.lineContainer {
  padding: 0em 0.5em 1em 0.5em;
}

.searchResultItem {
  margin-bottom: 10px;
  @include flex-right;
  gap: 1em;
}
