@import "../../styles/variables";
@import "../../styles/mixins";



.modalOverlay {
  @include modal-overlay
}

.modalContent {
 @include modal-content;
  width: 70% !important;

  @include flex-right;
}

.modalClose {
  @include modal-close
}
.lineContainer {
  padding: 1em 0.5em 1em 0.5em;
}

.cancelButton {
  @include flex-center;
  background: none;
  border: none;
  color: $background-color; // Change the color as needed
  cursor: pointer;
  padding: 8px; // Adjust padding as needed
  transition: color 0.3s ease;
  font-size: $font-size-base;
  text-decoration: underline;

  &:hover {
    color: darken(#ff6347, 10%);
  }

  .fa-trash {
    font-size: 1.5rem; // Adjust the icon size as needed
  }
}

.searchResults {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 20px;
}

.searchResultItem {
  margin-bottom: 10px;
}
