@import "../../styles/variables";
@import "../../styles/mixins";

.modalOverlay {
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalHeader {
    display: flex;
    padding: 0.5em;
}
.modalHeader h2 {
    margin: auto;
    
}
.modalContent {
    background-color: white;
    position: absolute;
    inset: 50% auto auto 50%;
    border: 1px solid rgb(204, 204, 204);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 0 1em 1em;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 95% !important;
    background-color: lighten($primary-color, 60%);
    max-width: 500px;
    max-height:95vh;
    @include flex-right;
}

.modalClose {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 0.4em;
}

.lineContainer {
    padding: 0em 0.5em 1em 0.5em;
}
