@import "../../styles/variables";
@import "../../styles/mixins";


.EntryList {
    @include entrylist-container;
    align-items:center;

    h1 {
        text-align: left;
        width: 100%;
    }
     li {
        margin-bottom: 0.5em;
    }
    > div {width:100%;}
}

.AllEntriesListContainer {
    @include page-container;
    width: 95vw;
    max-width: 700px;
    margin: 0 auto;
}
.sortButtons {
    @include flex-row-center;
    gap: 0.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    button {
        background-color: $text-color;
        border: 1px solid $secondary-color;
        padding: 0.5em;
        border-radius: $border-radius;
    }
}
