@import "../../styles/variables";
@import "../../styles/mixins";

.ReminderItem {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    align-items: flex-start;
    text-align: left;

    width: 90%;
    padding: 1em;
    margin: 0 auto;
    margin-top:1em;

    i {
        grid-column: 1;
        grid-row: 1;
    }
    p {
        grid-column: 2;
    }
    div {
        grid-column: 3;
        grid-row: 1;
    }
    span {
        padding-left: 0.2em;
    }
}