@import "../../styles/variables";
@import "../../styles/mixins";

.CalendarEntry {
  @include entry-item;
}

.FollowUpEntryList {
  @include entrylist-container;
  h4 {
    display: none;
  }
  h5:nth-child(2),h6 {
    display: none;
  }
}


.followUpContainer {
  margin-top: 2em;
  background-color: $text-color;
  padding: 1em;
  width: 95%;
  margin: 0 auto;

  .CalendarEntry {
    padding: 0;
  }
}

.addEntryLink {
  @include flex-row-right;
}
.FollowUpListContainer h {
  display: none;
}
.lineContainer {
  padding: 1em 0.5em 1em 0.5em;
}

.editFormContainer {
  @include form-container;
}

.EntryFormContainer {
  @include entry-form;
}
