@import "../../styles/variables";
@import "../../styles/mixins";

.ReminderItem {
  @include entry-item;

    display: grid;
    grid-template-columns: 1fr 9fr 1fr;

    i {
        grid-column: 1;
        grid-row: 1;
    }
    p {
        grid-column: 2;
    }
    div {
        grid-column: 3;
        grid-row: 1;
    }
    span {
        padding-left: 0.2em;
    }
}