@import "../../styles/variables";
@import "../../styles/mixins";

.CalendarEntry {
  @include entry-item;
}

.FollowUpEntryList {
  @include entrylist-container;

  h4 {
    display: none;
  }
  svg {
    display: none !important;
  }
}

h6 {
  display: none !important;
}
.entryChevronModal {
  display: none !important;
}
.expanded {
  @include expanded;
}

.entryDetails {
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: 0;
  padding:0 0.5em;
  @include flex-right;
}

.entryDetailsModal {
  height: fit-content !important;
  overflow: visible !important;
  display: block;
  min-height: 300px !important;
}
.followUpContainer {
  margin-top: 2em;
  background-color: $text-color;
  padding: 0.5em;
  width: 100%;

  .CalendarEntry {
    padding: 0;
  }
}

.addEntryLink {
  @include flex-row-right;
  padding: 0.5em 0.5em 0.5em 0;
}
.FollowUpListContainer .FollowUpEntry button:first-child {
  display: none;
}
.lineContainer {
  padding: 1em 0.5em 1em 0.5em;
}

.editFormContainer {
  @include form-container;
}

.EntryFormContainer {
  @include entry-form;
  margin-top: 1em;
}
