@import "../../styles/variables";
@import "../../styles/mixins";

.navbar {
  @include flex-row;
  padding: 0 20px;
  background-color: $secondary-color;
  color: $text-color;
  height: 60px;
  width:100vw;
  margin:0 auto;
  h1 {
    color: $text-color !important;
  }

  .username {
    color: darken($text-color, 10%);
  }
}
.navbarLogo::before { 
  content: "\f06c";
  font-family: "FontAwesome";
  width:100px;
font-size: 50px;
  color:$background-color;
  z-index: 9999;
  width:25vw;
  display:block;

}
.homeLink {
  text-decoration: none;
  font-size: $font-size-large;
  font-weight: bold;
  margin-left:auto;
  margin-right:auto;
}

.navbarLinks {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width:25vw;

  a {
    color: $text-color;
    text-decoration: none;
  }
  h5 {
    color: darken($text-color, 5%);
  }
}

.navbarToggle {
  display: none;
  cursor: pointer;
}

.navbarToggle i {
  font-size: $font-size-large;
}

@media (max-width: 768px) {
  .navbarLinks {
    display: none;
    flex-direction: column;
    width: 40%;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    padding: 10px 0;
  }
  .navbarLogo::before { 
    content: "\f06c";

    width:10vw;
  
  }
  .navbarLinksOpen {
    display: flex;
    z-index: 9999;
    margin-left: auto;
    right: 0;
    padding: 1em;
    border-radius: 0 0 2px 2px;
  }

  .navbarToggle {
    display: block;
    width:10vw;
    left:0;
    display: flex;
    justify-content: flex-end;
  }
}
