@import './variables';

@mixin button-styles($background, $color) {
  background-color: $background;
  color: $color;
  border: 1px solid $background-color;
  padding: 0.5em 1em;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 400;
  font-size: $font-size-base;
  white-space: nowrap;
  width: fit-content;

  & a {
    text-decoration: none;
    color: inherit;
  }
}
@mixin secondary-button {
  @include button-styles($background-color, $tertiary-color);
}

@mixin primary-button {
  @include button-styles(darken($tertiary-color, 2%), $secondary-color);
}

@mixin box-shadow($shadow: $box-shadow) {
  box-shadow: $shadow;
}

@mixin text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin flex-right {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
@mixin flex-row-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@mixin flex-column-space-evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@mixin flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
@mixin flex-row-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
