@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin button-styles($background, $color) {
  background-color: $background;
  color: $color;
  border: 1px solid $background-color;
  padding: $spacing-unit $spacing-unit * 2;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 800;
  white-space:nowrap;
  width:fit-content;

  &:hover {
    background-color: $color;
  }
}

@mixin box-shadow($shadow: $box-shadow) {
  box-shadow: $shadow;
}

@mixin text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin flex-right {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
@mixin flex-row-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@mixin flex-column-space-evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


@mixin flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
@mixin flex-row-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
