


@mixin modal-overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

@mixin modal-content {
  background-color: white;
  position: absolute;
  inset: 50% auto auto 50%;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 70% !important;

  @include flex-right;
}

@mixin modal-close {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 0.4em;
}

@mixin button-styles($background, $color) {
  background-color: $background;
  color: $color;
  border: 1px solid $background-color;
  padding: $spacing-unit $spacing-unit * 2;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 800;
  white-space:nowrap;
  width:fit-content;
}

@mixin box-shadow($shadow: $box-shadow) {
  box-shadow: $shadow;
}

@mixin text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin flex-right {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
@mixin flex-row-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@mixin flex-column-space-evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@mixin flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
@mixin flex-row-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
