// Colors
$primary-color: rgb(153, 163, 80);
$secondary-color: rgb(18, 29, 10);
$text-color: rgb(247, 245, 233);

$background-color: rgb(74, 84, 46,0.97);
$text-color: rgb(247, 245, 233);

$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 18px;

$border-radius: 2px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);