// Colors
$primary-color: #99A350;
$secondary-color: #005B4C;
$text-color:lighten(#F1F4CC, 20%);
$body-color:#F1F4CC;
$background-color: #646F1E ;

$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 18px;

$border-radius: 2px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);